<div id="app_buttons"><a href="<%=new_task_path%>" class="big_button round">Create New Task</a></div>
<div id="index_tasks_list">
  <%= render :partial => "tasks/display_tasks" %>
</div>


<!--<table>-->
<!--<tr>-->
<!--<th>Description</th>-->
<!--<th>Priority</th>-->
<!--<th>Seconds</th>-->
<!--<th>Complete</th>-->
<!--<th>Due Date</th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--</tr>-->

<!--<% @tasks.each do |task| %>-->
    <!--<tr>-->
    <!--<td><%= task.description %></td>-->
    <!--<td><%= task.priority %></td>-->
    <!--<td><%= task.seconds %></td>-->
    <!--<td><%= task.complete %></td>-->
    <!--<td><%= task.due_date %></td>-->
    <!--<td><%= link_to 'Edit', edit_task_path(task) %></td>-->
    <!--<td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>-->
    <!--</tr>-->
    <!--<% end %>-->
<!--</table>-->


